.nav-link {
  padding: 10px;
}
.nav-link a {
  display: block;
  width: 33.333%;
  float: left;
}
.nav-link a img {
  width: 100%;
  vertical-align: top;
}
.brand {
  padding: 0 10px;
}
.brand > img {
  width: 100%;
  vertical-align: top;
}
.brand ul {
  padding: 10px 0;
}
.brand ul li {
  float: left;
  width: 25%;
}
.brand ul li a {
  display: block;
}
.brand ul li a img {
  width: 100%;
}
