<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="assets/mui/css/mui.min.css">
	<link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/base.css"/>
	<link rel="stylesheet" href="css/category.css"/>
	<script src="assets/mui/js/mui.min.js"></script>
	<!--<script src="assets/artTemplate/template-native.js"></script>-->
	<script src="assets/zepto/zepto.min.js"></script>
	<script src="assets/artTemplate/template-web.js"></script>
	<script src="js/category.js"></script>
	<script src="js/public.js"></script>

</head>
<body>
	<header class="mui-bar mui-bar-nav myheader">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<a href="search.html" class="mui-icon mui-icon-search mui-pull-right"></a>
		<h1 class="mui-title">乐淘云购</h1>
	</header>
	<nav class="mui-bar mui-bar-tab footer">
		<a class="mui-tab-item" href="index.html">
			<span class="mui-icon mui-icon-home"></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item mui-active" href="category.html">
			<span class="mui-icon mui-icon-bars"></span>
			<span class="mui-tab-label">分类</span>
		</a>
		<a class="mui-tab-item" href="cart.html">
			<span class="mui-icon fa fa-shopping-cart"></span>
			<span class="mui-tab-label">购物车</span>
		</a>
		<a class="mui-tab-item" href="user.html">
			<span class="mui-icon mui-icon-person"></span>
			<span class="mui-tab-label">会员中心</span>
		</a>
	</nav>
	<div class="my-content">
		<div class="category-left">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<!--这里放置真实显示的DOM内容-->
					<div class="links" id="links">
						<!--<a href="#" class="active">运动馆</a>-->
						<!--这里放模板引擎里写的数据-->
					</div>
				</div>
			</div>
		</div>
		<div class="category-right">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<!--这里放置真实显示的DOM内容-->
					<ul class="brand-list mui-clearfix">
						<!--<li>-->
							<!--<a href="#">-->
								<!--<img src="images/brand1.png" alt=""/>-->
								<!--<p>耐克</p>-->
							<!--</a>-->
						<!--</li>-->

					</ul>
				</div>
			</div>
		</div>
	</div>

	<script id="category-first" type="text/html"><!--此处主要是用html,但也可以用template,看个人习惯-->
		<!--result就是js里请求后台数据的数组-->
		<!--这是旧的template语法-->
		<!--<% for(var i=0;i<result.length;i++){ %>-->
			<!--&lt;!&ndash;给a标签添加一个自定义属性data-id="<%=result[i].id %>"有id的字段 &ndash;&gt;-->
			<!--<a href="#" data-id="<%=result[i].id %>"><%=result[i].categoryName %></a> &lt;!&ndash; '='就是输出数据&ndash;&gt;-->
		<!--<% } %>-->
		<!--这是最新的templates语法-->
		{{each result}}
			<a href="#" data-id="{{$value.id}}">{{$value.categoryName}}</a> <!-- '='就是输出数据-->
		{{/each}}
	</script>
	<script id="category-second" type="text/html">
		{{each rows}}
			<li>
				<a href="#">
					<img src="{{$value.brandLogo}}" alt=""/>
					<p>{{$value.brandName}}</p>
				</a>
			</li>
		{{/each}}

		<!--点击左侧一级分类,二级分类里没有数据显示时-->
		{{if !rows.length}}
			<div class="noresult">暂无数据</div>
		{{/if}}
	</script>
</body>
</html>